**/.vs/
.vscode/
build/
config.tests/*
app/release/*
moonlight-common-c/*
qmdnsengine/*
h264bitstream/*
app/.qmake.stash
app/Makefile
app/Makefile.Debug
app/Makefile.Release
app/moonlight
.qmake.stash
.qmake.cache
app/debug/*
app/*
config.tests/*
AntiHooking/*
